body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}
.div1 {
    
   
    top:30%;
    left:23%;
    width: 200px;
    height: 200px;
    background: #000;
    perspective: 800px;
  }
  .div2 {
    width: 200px;
    height: 200px;
    background: orange;
    transition: 2s;
  }
  .div2:hover {
    transform: rotateY(120deg);
  }